<html>

<body>
    <section>
        <p class="text-3xl">Hello, I am</p>
        <p class="md:text-8xl mobile:text-6xl font-[500]">Ammar Israr</p>
        <p class="p-text">A passionate front-end developer, having industry experience from multiple reputed
            organizations.</p>
        <div class="mt-6 w-40">
            <app-button text="Download CV"></app-button>
        </div>
    </section>
    <section>
        <p class="p-heading">Why hire me for your next <span class="text-blue-600">project?</span></p>
        <div class="mt-6 w-40">
            <app-button text="Hire me"></app-button>
        </div>
    </section>
</body>

</html>