<html>

<body>
    <section>
        <p class="text-3xl"><span class="font-bold">Hello</span>, I am</p>
        <p class="m-6 ml-0 md:text-8xl mobile:text-6xl font-[500]"><span class="outline-box">Ammar Israr</span></p>
        <p class="mt-10 text-xl">and I am a <strong class="text-2xl"> <span class="outline-box ml-1">front-end developer</span></strong></p>
        <p class="p-text">A passionate front-end developer, having industry experience from multiple reputed
            organizations.</p>
        <div class="mt-6 w-40">
            <app-button text="Download CV" (click)="this.contactService.downloadResume()"></app-button>
        </div>
        <div class="rounded-xl m-5 p-2 bg-white shadow-lg">
            <div class="grid grid-cols-3 place-items-center gap-2">
                <div class="md:p-4 mobile:p-2">
                    <p class="flex justify-center p-heading text-primary">3</p>
                    <p class="flex justify-center p-text font-bold">Organizations served</p>
                </div>
                <div class="md:p-4 mobile:p-2">
                    <p class="flex justify-center p-heading text-primary">20+</p>
                    <p class="flex justify-center p-text font-bold">Major features added</p>
                </div>
                <div class="md:p-4 mobile:p-2">
                    <p class="flex justify-center p-heading text-primary">10+</p>
                    <p class="flex justify-center p-text font-bold">Projects worked on</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <p class="p-heading">Why hire me for your next <span class="text-primary">project?</span></p>
        <p class="p-text">My emphasis is on quality, and I put quite a lot of effort in refining my work to make it a
            work of art.</p>
        <div class="mt-6 w-40">
            <app-button (click)="this.contactService.sendEmail()" text="Hire me"></app-button>
        </div>
    </section>
    <section>
        <p class="p-heading">Companies served</p>
        <div class="grid grid-cols-3 gap-4 p-4">
            <a href="https://www.qvantel.com/"
                class="flex justify-center w-full transition ease-in-out hover:bg-blue-300 rounded-md hover:shadow-xl">
                <img class="w-[150px] p-4" src="../../../assets/qvantel_logo.svg" alt="">
            </a>
            <a href="https://www.ai-xprt.com/"
                class="flex justify-center w-full transition ease-in-out hover:bg-cyan-300 rounded-md hover:shadow-xl">
                <img class="w-[150px] p-4" src="../../../assets/ai-xprt_logo.png" alt="">
            </a>
            <a href="https://autosphere.ai/"
                class="flex justify-center w-full transition ease-in-out hover:bg-purple-400 rounded-md hover:shadow-xl">
                <img class="w-[150px] p-4" src="../../../assets/autosphere_logo.svg" alt="">
            </a>
        </div>
    </section>
    <section>
        <p class="p-heading">Recommendations</p>
        <div class="grid mobile:grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-6 p-4">
            <div *ngFor="let entry of testimonials">
                <app-testimonial testimonial="{{entry.testimonial}}" name="{{entry.name}}"
                    designation="{{entry.designation}}" company="{{entry.company}}"></app-testimonial>
            </div>
        </div>
    </section>
</body>
</html>