<div class="bg-white p-4 w-full rounded-xl shadow-lg">
    <div class="p-3">
        <img src="../../../assets/quote.png" class="h-8" alt="Quote">
        <p class="p-2">{{testimonial}}</p>
        <div class="flex justify-end">
            <img src="../../../assets/quote.png" class="h-8 rotate-180" alt="Quote">
        </div>
    </div>
    <div class="p-3">
        <p class="font-bold text-xl">{{name}}</p>
        <p><span class="font-bold">{{designation}}</span> at <span class="font-bold">{{company}}</span></p>
    </div>
</div>