<!DOCTYPE html>
<html class="bg-blue-300" lang="en">
<body>
    <nav>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} class="flex cursor-pointer items-center header-item">About</a>
        <a routerLink="/projects" routerLinkActive="active" class="flex cursor-pointer items-center header-item">Projects</a>
        <app-button class="header-item" (click)="this.contactService.sendEmail()" text="Contact"></app-button>
    </nav>
    <div>
        <router-outlet></router-outlet>
    </div>
</body>
<footer class="flex justify-center m-1 bg-gray-200 rounded-md">
    <p>Website created by myself on Angular, and hosted on GitHub Pages.</p>
    <div (click)="this.contactService.openGitHubSrc()" class="cursor-pointer transition ease-in-out inline-flex hover:bg-gray-500 hover:outline-0 outline outline-2 outline-gray-300 hover:text-white rounded-md ml-1 pl-1 pr-1">
        <p>Source Code</p>
        <img src="../assets/github-mark.svg" class="h-5 ml-1 mr-1">
    </div>
</footer>
</html>