<div class="grid md:grid-cols-6 bg-white mobile:grid-cols-1 shadow-lg rounded-xl m-10">
    <div class="col-span-2 p-3">
        <p class="p-small-heading">{{company}}</p>
        <p class="text-gray-500">{{role}}</p>
    </div>
    <div class="col-span-3 p-3">
        <h1 class="text-xl font-semibold">{{projectTitle}}</h1>
        <div class="p-2 m-2 bg-gray-100 shadow-md rounded-lg">
            <div class="p-1" *ngFor="let item of description">
                <p class="font-medium">{{item}}</p>
            </div>
        </div>
    </div>
    <div class="col-span-1 p-3 flex items-end justify-end">
        <div class="flex link">
            <p>Details</p>
            <img class="h-6" src="../../../assets/arrow_right.svg" alt="">
        </div>
    </div>
</div>